.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-section {
  flex: 0 1;
}

.accordion-section.active {
  flex: 1;
}

.accordion-section-title {
  background: #ccc;
  border: 1px solid #666;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.accordion-section.active .accordion-section-title {
  background: #eee;
}

.accordion-section-content {
  overflow: hidden;
}
