/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** Empty state (when no products are saved) */

.empty-onboarding {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
  text-align: center;
}

.empty-onboarding .hero {
  height: 123px;
  width: 142px;
}

.empty-onboarding .description {
  margin: 0;
}

.empty-onboarding .track.button {
  width: 100%;
}
