/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** Empty state (when no products are saved) */

.empty-onboarding {
  margin: 16px;
}

.empty-onboarding .cta {
  margin: 0 0 15px;
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
}

.empty-onboarding .description {
  margin: 0 15px 15px;
  font-size: 1.1em;
}

.empty-onboarding .track.button {
  width: 100%;
}
