/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** Cards that display info about a product */

.product-card {
  position: relative;
  background: #fdfdfd;
  border: 1px solid #d3d2d3;
  border-radius: 4px;
  overflow: hidden;
}

.product-card .latest-price {
  padding: 5px 15px;
  position: relative;
  border-bottom: 1px solid #dfdfdf;
  font-size: 1.2em;
  font-weight: bold;
}

.product-card .latest-price .close-button,
.product-card .latest-price .undo-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
}

.product-card .latest-price .undo-button {
  display: flex;
  align-items: center;
  color: #3f88f7;
  font-weight: 700;
}

.product-card.disabled .latest-price .undo-button {
  z-index: 1;
}

.product-card:hover .latest-price .close-button {
  display: inline-block;
}

.product-card .latest-price .close-button,
.product-card .latest-price .close-button.hidden, /* Override close button being shown on hover when undo button is visible */
.product-card .latest-price .undo-button.hidden {
  display: none;
}

.product-card .latest-price .close-icon,
.product-card .latest-price .undo-icon {
  height: 16px;
  width: 16px;
}

/* Needed to assign fill colors for fill="context-fill" SVGs in <img> elements */
.product-card .latest-price .close-icon,
.product-card .latest-price .undo-icon {
  -moz-context-properties: fill;
}

.product-card .latest-price .close-icon {
  fill: #0c0c0d;
  opacity: 0.8;
}

.product-card .latest-price .undo-icon {
  margin-right: 5px;
  fill: #3f88f7;
}

.product-card .product-info {
  cursor: pointer;
  display: grid;
  gap: 12px;
  grid-template-columns: 65px auto;
  grid-template-rows: 65px auto;
  padding: 15px;
}

.product-card.disabled .product-info {
  cursor: default;
}

.product-card .product-info .image {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 65px;
  height: 65px;
  overflow: hidden;
}

.product-card .product-info .title {
  font-size: 1.1em;
  font-weight: normal;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding: 0;
}

.product-card .product-info .vendor {
  color: #737373;
  font-size: 1em;
  grid-column: 1 / 3;
  grid-row: 2;
}

.product-card .button {
  background: #0156da;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 12px;
  text-align: center;
  width: 100%;
}

.product-card .button:hover {
  background: #2a7ffe;
}

.product-card .button:active {
  background: #0141a2;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background-color: white;
}

.opaque-overlay.hidden {
  display: none;
}
