/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** Listing of currently-tracked products */

.menu-item.track {
  border-bottom: 1px solid var(--grey-30);
}

.product-list {
  list-style-type: none;
  margin: 0;

  /*
    max popup height - (titlebar height + track button height + survey footer height) = max list height
    600px - (42px + 36px + 36px) = 486px
   */
  max-height: 486px;
  overflow-y: auto;
  padding: 0;
}

.product-list .product-list-item {
  margin: 0;
  padding: 0;
}
