/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** Global layout and top-level elements */

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--white-100);
  color: var(--grey-90);
  font: message-box;
  font-size: 13px;
  margin: 0;
  max-height: 600px;
  overflow: hidden;
  padding: 0;
}

#browser-action-app {
  width: 320px;
}

#browser-action-app.overflow {
  width: 100%;
}

/** Links */

a {
  color: var(--blue-60);
  text-decoration: none;
}

a:hover {
  color: var(--blue-60);
  text-decoration: underline;
}

a:active {
  color: var(--blue-70);
  text-decoration: underline;
}

a:focus {
  box-shadow:
    0 0 0 1px var(--blue-50) inset,
    0 0 0 1px var(--blue-50),
    0 0 0 4px var(--blue-50-a30);
}

/** Buttons */

.button {
  align-items: center;
  background: var(--grey-90-a10);
  border: none;
  color: var(--grey-90);
  border-radius: 2px;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  height: 32px;
  justify-content: center;
  line-height: 32px;
  text-align: center;
}

.button:hover:enabled {
  background: var(--grey-90-a20);
}

.button:active:enabled {
  background: var(--grey-90-a30);
}

.button:focus {
  box-shadow:
    0 0 0 1px var(--blue-50) inset,
    0 0 0 1px var(--blue-50),
    0 0 0 4px var(--blue-50-a30);
}

.button:disabled {
  opacity: 0.4;
}

.button .icon {
  height: 16px;
  margin-inline-end: 4px;
  width: 16px;
}

/** Ghost Button */

.button.ghost {
  background: transparent;
}

.button.ghost .icon {
  -moz-context-properties: fill, fill-opacity;
  fill: var(--grey-90-a80);
  margin: 0;
}

.button.ghost:hover {
  background: var(--grey-90-a10);
}

.button.ghost:active {
  background: var(--grey-90-a20);
}

/** Panel Menu Items */

.menu-item {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--grey-90);
  display: flex;
  font-size: 13px;
  gap: 10px;
  height: 36px;
  justify-content: start;
  line-height: 24px;
  padding: 6px 16px;
  width: 100%;
  white-space: nowrap;
}

.menu-item .sublabel {
  color: var(--grey-40);
  min-width: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item:enabled:hover {
  background: var(--grey-90-a10);
}

.menu-item:enabled:active {
  background: var(--grey-90-a20);
}

.menu-item:disabled * {
  opacity: 0.4;
}

.menu-item .icon {
  height: 16px;
  width: 16px;
}
