/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** Global layout and top-level elements */

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--white-100);
  font: message-box;
  margin: 0;
  padding: 0;
}

#browser-action-app {
  width: 325px;
}

/** Common element styles */

a {
  color: #0a8dff;
  text-decoration: none;
}

a:hover {
  color: #0060df;
  text-decoration: underline;
}

/** Photon Ghost Button */
.button-ghost {
  background: transparent;
  border-radius: 2px;
  height: 32px;
  line-height: 16px;
  padding: 8px;
  text-align: center;
}

.button-ghost:hover {
  background: var(--grey-90-a10);
}

.button-ghost:active {
  background: var(--grey-90-a20);
}

.button-ghost:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px var(--blue-50-a30);
}
